@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/* dark mode */
	@apply text-slate-200;
	background-color: #020202;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#top {
	padding: 2rem;
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	text-align: center;
	font-family: "Spicy Rice", cursive;
	font-size: 16rem;
	opacity: 0;
	animation: 3s forwards ease-in-out fadeInFromB;
}

#szpak {
	-webkit-text-stroke: 1px #cbd5e1;
}

.animationFadeInFromB {
	animation: 3s forwards ease-in-out fadeInFromB;
}

@keyframes fadeInFromB {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

header {
	animation: 2s forwards fadeInFromT;
}

@keyframes fadeInFromT {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

body {
	display: flex;
	flex-direction: column;
}

.app {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	flex: 1 1 auto;
	justify-content: center;
}

.divider {
	min-height: 150px;
}

.lighten {
	-webkit-filter: drop-shadow(1px 3px 5px rgba(255, 255, 255, 0.5));
	filter: drop-shadow(1px 3px 5px rgba(255, 255, 255, 0.5));
}

.group > span {
	border: 3px solid rgba(15, 23, 42, 0.1);
}

.group > span > svg {
	color: rgba(15, 23, 42, 0.2);
}

.justify-right {
	justify-content: right;
}
